<h1>LIst</h1>

In [34]:
emp=[1,2,3,5]

In [35]:
emp

[1, 2, 3, 5]

In [36]:
emp.append(-1)
emp.append(2)

In [15]:
emp.clear()

In [38]:
emp.append(10)
emp.append(20)
emp.append(3)

In [39]:
emp

[1, 2, 3, 5, -1, 2, 10, 20, 3]

In [40]:
emp.count(10)

1

In [42]:
emp.extend([30,40,50])

In [43]:
emp

[1, 2, 3, 5, -1, 2, 10, 20, 3, 30, 40, 50, 30, 40, 50]

In [45]:
[1,2,3]*2

[1, 2, 3, 1, 2, 3]

In [47]:
emp.index(10)

6

In [56]:
emp.insert(0,20)
emp

[20, 20, 20, 20, 20, 20, 20, 1, 2, 3, 5, -1, 2, 10, 20, 3, 30, 40, 50]

In [60]:
emp
emp.pop()

30

In [62]:
emp.remove(20)

In [65]:
emp.sort()
emp

[-1, 1, 2, 2, 3, 3, 5, 10, 20, 20, 20, 20, 20, 20]

In [80]:
emp.reverse()
emp

[20, 20, 20, 20, 20, 20, 10, 5, 3, 3, 2, 2, 1, -1]

<h1>Dictionary</h1>

In [84]:
d={'name':'nischal','age':21,'locaiton':'bhaktapur'}

In [90]:
d['name']

'nischal'

In [93]:
d['age']

'21'

In [100]:
d.keys()

dict_keys(['name', 'age', 'locaiton'])

In [103]:
d.values()

dict_values(['nischal', '21', 'bhaktapur'])

In [105]:
data = {}

In [107]:
data[1]=4
data[2]=3
data[3]=2
data[4]=1

In [109]:
data

{1: 4, 2: 3, 3: 2, 4: 1}

In [134]:
mat=[[1,2,3],[4,5,6]]

In [135]:
mat[0]

[1, 2, 3]

In [121]:
len(mat)

2

In [137]:
mat[0][0]

1

In [163]:
dir = []

In [164]:
temp = {'name':'x','age':10,'marke':'10,20,30'}
dir.append(temp)

In [165]:
temp = {'name':'y','age':11,'marke':'10,20,30'}
dir.append(temp)

In [166]:
temp = {'name':'z','age':10,'marke':'13,22,40'}
dir.append(temp)

In [168]:
dir

[{'name': 'x', 'age': 10, 'marke': '10,20,30'},
 {'name': 'y', 'age': 11, 'marke': '10,20,30'},
 {'name': 'z', 'age': 10, 'marke': '13,22,40'}]

<h1>control structure</h1>

<h1>reltional operations</h1>

In [172]:
a=10
b=20
c=30
if a==b:
    print('yello')
else:
    print('hello')

hello

In [174]:
number=int(input('enter a number:'))
if number%2==0:
    print('the number is even')
else:
    print('the number is odd')

enter a number:5
the number is odd

In [181]:
a=int(input('enter a number:'))
if a==1:
    print("hello")
elif a==2:
    print('hi')
elif a==3:
    print('welcome')
elif a==3:
    print('nice')
elif a==4:
    print('good day')
elif a==5:
    print('Howdy')
else:
    print('enter a number between 1-5')

enter a number:3
welcome